@import "./styles/themes.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
  color: var(--placeholder);
}

.tiptap-mathematics-render[data-type="block-math"] {
  text-align: center;
  margin: 1em 0;
}

.tiptap-mathematics-render--editable {
  cursor: pointer;
}

.ProseMirror h1.heading-show-hash::before {
  content: "# ";
  color: var(--heading-hash);
}
.ProseMirror h2.heading-show-hash::before {
  content: "## ";
  color: var(--heading-hash);
}
.ProseMirror h3.heading-show-hash::before {
  content: "### ";
  color: var(--heading-hash);
}
